div{
    margin: 15px;
    padding: 20px;
}
h4{
    font-weight: 700;
}
a{
    text-decoration: none;
    padding: 10px;
    border: 3px solid black;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}
a.google{
    color: rgb(5, 250, 111);
    background-color: blueviolet;
    cursor: pointer;
}
a.fb,a.lkn{
    color: aliceblue;
    background-color: rgb(7, 135, 248);
    cursor: default;
}
a.yt{
    color: white;
    background-color: red;
    cursor: text;
}
a.tw{
    color: #fff;
    background-color: rgb(33, 195, 195);
    cursor: wait;
}
a:hover{
    color: red;
    background-color: green;
}
a:active{
    color: #f807cf;
    background-color: blanchedalmond;
}
a:visited{
    color: #fafafa;
    background-color: black;
}
ol,ul{
    list-style-position: inside;
    padding: 20px;
    font-weight: 700;
    width: 50%;
}
ol{
    list-style-type: lower-alpha;
    background-color: #f807cf;
    font-family: 'Trebuchet MS';
}
ul{
    list-style-type: square;
    background-color: #f3cf1b;
    font-family: 'sofia';
}
ol li {
    background-color: aqua;
    color: darkred;
    padding: 7px;
    margin: 3px;
}
ul li{
    background-color: #0f4ae1;
    color: azure;
    padding: 10px;
    margin: 3px;
}
table,th,td{
    border: 3px solid rgb(245, 5, 217);
    border-collapse: collapse;
    text-align: center;
    width: 50%;
    font-size: 20px;
    font-weight: 700;
}
.table1 th{
    background-color: #fafa09;
}
th,td{
    padding: 10px;
}
.last{
    background-color: #3cad3c;
    color: #0707c7;
}
.table th{
    background-color: #ffffff;
}
img{
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
}
td:hover,th:hover {
    color: red;
    background-color: green;
}
.tab{
    margin: 10px;
}
.width{
    width: 700px;
    background-color: red;
    border: 5px solid black;
}
.max-width{
    max-width: 700px;
    background-color: green;
    border: 5px solid black;
}
.fab{
    font-size: 30px;
}
.fa-facebook,.fa-facebook-messenger{
    color: #056BE1;
}

.fa-twitter{
    color: #1DA1F2;
}
.fa-linkedin{
    color: #0C64C5;
}
.fa-youtube{
    color: #FE0000;
}
.fa-google{
    color: #149E5B;
}